#input-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 25%;
    margin-left: 10%;
}

#input-container label{
    color:#fff;	
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(2.75vmin,15px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#input-container input{
    color:rgb(215, 215, 215);
    border-radius: 60px;
    height: 35%;
    background-color: #262626;
    outline: 0px;
    border: 0px;
    padding: 0 5%;
}

#submit{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
}

#submit input{
    background-color: #ffffff;
    border: none;
    border-radius: 45px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(2vmin,12px);
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
}