#box{
    background-color: #424242;
    width: 100%;
    height: max(63vmin,300px);
    border-radius: 40px;
}

#inputs-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10%;
    height: 50%;
    margin-top: -5%;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
}

.input-container label{
    color:#fff;	
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(2.75vmin,15px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.input-container input{
    color:rgb(215, 215, 215);
    border-radius: 60px;
    height: 35%;
    background-color: #262626;
    outline: 0px;
    border: 0px;
    padding: 0 5%;
}

