{% extends 'connection.html' %}

{% block header %}login{% endblock %}
{% block title %}<h1 id="boxtitle">Se connecter</h1>{% endblock %}


{% block content %}

  <form method="post">
    <div class="loginfo">
      <div class="inputcontainer">
        <label for="idantifiant">Email/nom d'utilisateur</label>
        <input type="text" name="idantifiant" id="idantifiant" required>
      </div>
      <div class="inputcontainer">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required>
      </div>
      <div class="inputcontainer">
        <input type="submit" value="Se connecter" id="first_button">
      </div>
    </div>
  </form>

{% endblock %}
{% block footer %}
  <a href="{{ url_for('auth.register') }}" id="second_button">S'enregistrer</a>
{% endblock %}
