{% extends 'connection.html' %}

{% block header %}login{% endblock %}
{% block title %}<h1 id="boxtitle">Se connecter</h1>{% endblock %}


{% block content %}
<div id="interactive">
  <form method="post">
      <div class="inputcontainer">
        <label for="idantifiant">Email/nom d'utilisateur</label>
        <input type="text" name="idantifiant" id="idantifiant" required>
      </div>
      <div class="inputcontainer">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required>
      </div>
      {% with message = get_flashed_messages() %}
      {% if message %}
      <div class="alert-user">
        <p>{{ message[0] }}</p>
      </div>
      {% endif %}
      {% endwith %}
      <div class="inputcontainer">
        <input type="submit" value="Se connecter" id="firstbutton">
      </div>
  </form>
  <a href="{{ url_for('password.forgot_password')}}" id="forgotpassword">Mot de passe oublié</a>
  <a href="{{ url_for('auth.register') }}" id="secondbutton">S'enregistrer</a>

</div>
  {% endblock %}
