{% extends 'connection.html' %}

{% block header %}login{% endblock %}
{% block title %}<h1 id="boxtitle">Se connecter</h1>{% endblock %}


{% block content %}

  <form method="post">
    <div class="loginfo">
      <div class="inputcontainer">
        <label for="idantifiant">Email/username</label>
        <input type="text" name="idantifiant" id="idantifiant" required>
      </div>
      <div class="inputcontainer">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
      </div>
      <div>
      <input type="submit" value="Log In" id="login">
      </div>
    </div>
  </form>

{% endblock %}
{% block footer %}
  <a href="{{ url_for('auth.register') }}" id="register">register</a>
{% endblock %}
