{% extends 'connection.html' %}

{% block header %}register{% endblock %}
{% block title %}<h1 id="boxtitle">S'enregister</h1>{% endblock %}


{% block content %}
  <form method="post">
    <div class="loginfo">
      <div class="inputcontainer">
        <label for="username">Username</label>
        <input name="username" id="username" required>
      </div>
      <div class="inputcontainer">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
      </div>
      <div class="inputcontainer">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="new-password" required>
      </div>
      <input type="submit" value="Register" id="login">
    </div>
  </form>
{% endblock %}
{% block footer %}
  <a href="{{ url_for('auth.login') }}" id="register">Log In</a>
{% endblock %}