{% extends 'connection.html' %}

{% block header %}register{% endblock %}
{% block title %}<h1 id="boxtitle">S'enregister</h1>{% endblock %}


{% block content %}
  <form method="post">
    <div class="loginfo">
      <div class="inputcontainer">
        <label for="username">Nom d'utilisateur</label>
        <input name="username" id="username" required>
      </div>
      <div class="inputcontainer">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
      </div>
      <div class="inputcontainer">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" autocomplete="new-password" required>
      </div>
      <div class="inputcontainer">
        <input type="submit" value="S'enregister" id="first_button">
      </div>
    </div>
  </form>
{% endblock %}