{% extends 'base.html' %}

{% block header %}
  {% block title %}Home{% endblock %}
{% endblock %}

{% block title_page %}Home{% endblock %}

{% block content%}
  <li><span>{{ g.user['username'] }}</span>
  <a href="{{ url_for('y.create')}}">create</a>
  <div class="element">
    <h3>Mes Channels</h3>
    {% if mychannels %}
      <div class="midle_container">
      {% for channel in mychannels %}
      <a href="{{ url_for('y.see', id_channel = channel['id_channel'])}}">
          <div class="channel_bulb">
            <img src="{{ channel['location'] }}" class="channel_icon">
            {{ channel['name'] }}
          </div>
        </a>
      {% endfor %}
      </div>
    {% else %}
      <p>vous n'avez pas de channel</p>
    {% endif %}

    <h3>Membres</h3>
    {% if memberchannels %}
      <div class="midle_container">
      {% for channel in memberchannels %}
      <a href="{{ url_for('y.see', id_channel = channel['id_channel'])}}">
          <div class="channel_bulb">
            <img src="{{ channel['location'] }}" class="channel_icon">
            {{ channel['name'] }}
          </div>
        </a>
      {% endfor %}
      </div>
    {% else %}
      <p>vous n'êtes pas membre d'un Y</p>
    {% endif %}
  </div>
  <a href="{{ url_for('y.browse')}}">browse</a>
{% endblock %}