{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bienvenue{% endblock %}</h1>
{% endblock %}

{% block title_page%}
    <p>Bienvenue</p>
{% endblock %}

{% block content%}
  <li><span>{{ g.user['username'] }}</span>
  <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
  <li><a href="{{url_for('user.show_profile')}}">Show profile</a></li>
  <li><a href="{{url_for('y.create')}}">create</a></li>
  <h3>Mes Channels</h3>
  {% if g.mychannel %}
    {% for channel in g.mychannel %}
      <li>{{ channel[0]['name'] }}</li>
    {% endfor %}
  {% else %}
    <p>vous n'avez pas de channel</p>
  {% endif %}
{% endblock %}