{% extends 'base.html' %}

{% block header %}
  {% block title %}Home{% endblock %}
{% endblock %}

{% block title_page %}Home{% endblock %}

{% block content%}
  <div id="head-home">
    <div class="center-h">
      <div id="head-home-element" >
        <a href="{{ url_for('y.create')}}"><i class="fa-solid fa-plus"></i></a>
        <a href="{{ url_for('y.browse')}}"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
    </div>
  </div>
  <div class="element">
    <h3>Mes Ys</h3>
    {% if mychannels %}
      <div class="center-h">
        <div class="list-y">
      {% for channel in mychannels %}
      <a href="{{ url_for('y.see', id_channel = channel['id_channel'])}}">
          <div class="channel-bulb">
            <img src="{{ g.host +'/'+ channel['location'] }}" class="channel_icon">
            <p>{{ channel['name'] }}</p>
          </div>
        </a>
      {% endfor %}
        </div>
      </div>
    {% else %}
      <p id="empty">Vous n'avez pas de Ys</p>
    {% endif %}

    <h3>Mes abonnements</h3>
    {% if memberchannels %}
      <div class="center-h">
        <div class="list-y">
      {% for channel in memberchannels %}
      <a href="{{ url_for('y.see', id_channel = channel['id_channel'])}}">
          <div class="channel-bulb">
            <img src="{{ g.host +'/'+ channel['location'] }}" class="channel_icon">
            <p>{{ channel['name'] }}</p>
          </div>
        </a>
      {% endfor %}
        </div>
      </div>
    {% else %}
      <p id="empty">Vous n'êtes pas membre d'un Y</p>
    {% endif %}
  </div>
  
{% endblock %}