<head>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='shortcuticon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
  <div class="center-wh">
    <div class="mdpbox">
      <div>
        <h2>Changer MDP</h2>
      </div>
      <div class="center-h">
        <form method="post">
            <div id="inputs-container">
              <div class="input-container">
                <label for="new_password">Nouveau MDP</label>
                <input type="password" name="new_password" id="new_password" required>
              </div>
              <div class="input-container">
                <label for="password_check">Confirmez MDP</label>
                <input type="password" name="password_check" id="password_check" required>
              </div>
              <div class="input-container">
                <label for="old_password">Ancien MDP</label>
                <input type="text" name="old_password" id="old_password" required>
              </div>
                <div class="center-h">
                    <input type="submit" value="Valider">
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</body>
