{% extends 'base.html' %}

{% block header %}
  {% block title %}Changer MDP{% endblock %}
{% endblock %}

{% block title_page%}
<h1>Changer MDP</h1>
{% endblock %}

{% block content %}
<div class="center-wh">
    <div class="logbox">
    <div id="interactive">
        <form method="post">
            <div class="inputcontainer">
              <label for="new_password">Nouveau MDP</label>
              <input type="password" name="new_password" id="new_password" required>
            </div>
            <div class="inputcontainer">
              <label for="password_check">Confirmez MDP</label>
              <input type="password" name="password_check" id="password_check" required>
            </div>
            <div class="inputcontainer">
              <label for="old_password">Ancien MDP</label>
              <input type="text" name="old_password" id="old_password" required>
            </div>
            <div class="inputcontainer">
              <input type="submit" value="Changer le MDP" id="firstbutton">
            </div>
        </form>
      </div>
    </div>
</div> 
{% endblock %}
