<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='shortcuticon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password/confirmation.css') }}">
</head>

<body>
    <div class="center-verticaly">
        <div class="center-horizontaly">
            <div class="box">
                <h2>Mot de passe oublié</h2>
                <p>Un mail a été envoyer à l'adress</p>
            </div>
        </div>
    </div>
</body>