<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='shortcuticon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password/forgot_password.css') }}">
</head>

<body>
    <div class="center-verticaly">
        <div class="center-horizontaly">
            <div class="box">
                <h2>Mot de passe oublié</h2>
                <form method="post">
                    <div id="inputs-container">
                        <div id="input-container">
                            <label for="email">email</label>
                            <input type="email" name="email" id="email" required>
                        </div>
                        <div id="submit">
                            <input type="submit" value="Valider">
                        </div>
                    </div>
                    {{ get_flashed_messages() }}
                </form>
            </div>
        </div>
    </div>
</body>