{% extends 'base.html' %}

{% block header %}
  {% block title %}{{ channel_info['name'] }}{% endblock %}
{% endblock %}

{% block title_page%}
<div class="title-page-see">
  <p>{{ channel_info['name'] }}</p>
  <img src="{{ g.host + '/' + channel_info['location'] }}">
</div>
{% endblock %}


{% block content %}
<div id="head-home">
    <div class="center-h">
      <div id="head-home-element" >
        <a href="{{ url_for('y.see', id_channel = channel_info['id_channel'] )}}"><i class="fa-solid fa-less-than"></i></a>
        <a onclick="showInvite({{ channel_info['id_channel'] }})"><i class="fa-solid fa-user-plus"></i></a>
      </div>
    </div>
  </div> 
<div>
  <div class="center-h">
    <div id="invite-pos">
      <div id="invite-overlay">
        <button id="time-button" value="10" onclick="var button = document.getElementById('time-button'); if (button.value === '10') { button.innerText = '30 Minutes'; button.value = '30' } else if ( button.value === '30' ) { button.innerText = '60 Minutes'; button.value =  '60'} else { button.innerText = '10 Minutes' ; button.value = '10' };">10 Minutes</button>
        <button id="create-invite" onclick="createInviteLink({{channel_info['id_channel']}})">Créer un lien</button>
      </div>
    </div>
  </div>
</div>
{% if g.user['id_user'] in owners|map(attribute="id_user") or g.user['id_user'] in admins|map(attribute="id_user") %}
<div class="center-h">
    <form method="post" enctype="multipart/form-data">
      <div>
        <div id="y-enter-info">
          <label for="imageInput"><img src="{{ g.host +'/'+ channel_info['location'] }}"  class="select-image-y" id="modify-image"></label>
          <input type="file" name="image" id="imageInput" accept="image/png, image/jpeg" style="display: none;" onchange="const img = document.getElementById('modify-image'); const img2 = document.createElement('img'); img2.src = window.URL.createObjectURL(this.files[0]); img2.className = 'select-image-y' ; img2.id ='modify-image'; img.replaceWith(img2);"> 
          <div id="y-enter-short-info">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{ channel_info['name'] }}" placeholder="l'incroyable Y" required>
            <label for="themes">Themes</label>
            <input type="text" name="themes" id="themes" value="{% for theme in channel_themes %} #{{ theme['name'] }} {% endfor %}" placeholder="#theme #exemple">
            {% with message = get_flashed_messages() %}
            {% if message %}
            <div class="alert-user">
              <p>{{ message[0] }}</p>
            </div>
            {% endif %}
            {% endwith %}
          </div>
        </div>
        <div id="description">
          <label for="bio" id="subtitle">Description:</label>
          <textarea name="bio" id="description-text" placeholder="Ecrivez ici">{{ channel_info['description'] }}</textarea>
          <script>
            const myText = document.getElementById("description-text");
            myText.style.cssText = `height: ${myText.scrollHeight}px; overflow-y: hidden`;
            myText.addEventListener("input", function(){
                this.style.height = "auto";
                this.style.height = `${this.scrollHeight}px`;
            });
        </script>
        </div>
      </div>
      <div class="center-h">
        <input type="submit" value="Mettre à jour" class="create-button">
      </div>
    </form>
  </div> 
{% else %}
<div class="center-h">
    <div class="incolumn">
      {% if channel_info['description'] %}
      <div class="channel-info">
        <p id="subtitle">Description:</p>
        {% set lignes = channel_info['description'].split('\n') %}
        <p >
          {% for ligne in lignes %}
          {{ligne}}<br>
          {% endfor %}
        </p>
      </div>
      {% endif %}
      {% if channel_themes %}
      <div class="channel-info" >
        <p>Themes:</p>
        <div id="themes">
          {% for theme in channel_themes %}
          <p>#{{ theme[0] }}</p>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% if g.user['id_user'] in owners|map(attribute="id_user") %}
<div id="delete-y">
  <a href="{{ url_for('y.delete', id_channel = channel_info['id_channel']) }}"><i class="fa-solid fa-trash"></i></a>
</div>
{% else %}
<div id="delete-y">
  <a href="{{ url_for('y.leave', id_channel = channel_info['id_channel']) }}"><i class="fa-solid fa-person-walking-arrow-right"></i></a>
</div>
{% endif %}

<div class="center-h">
  {% set dates = channel_info['date'].split("/") %}
  <div class="about-info">
    <div id="fun-fact">
      <p>Créé le {{ dates[0] }} du {{ dates[1] +" "+ dates[2] }}</p>
      <p>Y {% if channel_info['opento'] == "public" %}Publique{% else %}Privé{% endif %}</p>
      <div id="numbers">
        <p>{{ nb_participants }} participants</p>
        <p>{{ nb_posts }} publications</p>
      </div>
    </div>
  </div>
</div>


<div class="center-h">
    <div class="about-info">
      {% if g.user['id_user'] in owners|map(attribute="id_user") %}
        <div class="types-container">
            <div class="type-container">
                <p>{% if owners|count > 1 %}Propriétaires{% else %}Propriétaire{% endif %}</p>
                {% for owner in owners %}
                <div class="users-container">
                    <p>@{{ owner['username'] }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="type-container">
                <p>{% if admins|count > 1 %}Admins{% else %}Admin{% endif %}</p>
                <div class="users-container" id="admin-box">
                  {% for admin in admins %}
                    <div class="user-container" id="user-container-{{ admin['id_user'] }}">
                      <a class="change-role" id="change-role-{{ admin['id_user'] }}-left"></a>
                      <p onclick="showChangeRole({{ admin['id_user'] }}, 'admin')">@{{ admin['username'] }}</p>
                      <a class="change-role" id="change-role-{{ admin['id_user'] }}-right" onclick="changeRole({{ channel_info['id_channel'] }}, {{ admin['id_user'] }}, '{{ admin['username'] }}', 'member')"><i class="fa-solid fa-user" id="member"></i></a>
                    </div>
                  {% endfor %}
                </div>
            </div>

            <div class="type-container">
                <p>{% if members|count > 1 %}Membres{% else %}Membre{% endif %}</p>
                <div class="users-container" id="member-box">
                  {% for member in members %}
                    <div class="user-container" id="user-container-{{ member['id_user'] }}">
                      <a class="change-role" id="change-role-{{ member['id_user'] }}-left" onclick="changeRole({{ channel_info['id_channel'] }}, {{ member['id_user'] }}, '{{ member['username']|string }}', 'admin')"><i class="fa-solid fa-star-of-life" id="admin"></i></a>
                      <p onclick="showChangeRole({{ member['id_user'] }}, 'member')">@{{ member['username'] }}</p>
                      <a class="change-role" id="change-role-{{ member['id_user'] }}-right" onclick="changeRole({{ channel_info['id_channel'] }}, {{ member['id_user'] }}, '{{ member['username']|string }}', 'ban')"><i class="fa-solid fa-door-closed" id="ban" ></i></a>
                    </div>
                  {% endfor %}
                </div>
            </div>
            <div class="type-container">
              <p>{% if bans|count > 1 %}Bans{% else %}Ban{% endif %}</p>
              <div class="users-container" id="ban-box">
                {% for ban in bans %}
                  <div class="user-container" id="user-container-{{ ban['id_user'] }}">
                    <a class="change-role" id="change-role-{{ ban['id_user'] }}-left" onclick="changeRole({{ channel_info['id_channel'] }}, {{ ban['id_user'] }}, '{{ ban['username'] }}', 'member')"><i class="fa-solid fa-user" id="member"></i></a>
                    <p onclick="showChangeRole({{ ban['id_user'] }}, 'ban')">@{{ ban['username'] }}</p>
                    <a class="change-role" id="change-role-{{ ban['id_user'] }}-right"></a>
                  </div>
                {% endfor %}
              </div>
          </div>
        </div>
      {% else %}

        <div class="types-container">
          <div class="type-container">
              <p>{% if owners|count > 1 %}Propriétaires{% else %}Propriétaire{% endif %}</p>
              {% for owner in owners %}
              <div class="users-container">
                  <p>@{{ owner['username'] }}</p>
              </div>
              {% endfor %}
          </div>

          <div class="type-container">
              <p>{% if admins|count > 1 %}Admins{% else %}Admin{% endif %}</p>
              <div class="users-container" id="admin-box">
                {% for admin in admins %}
                  <div class="user-container" id="user-container-{{ admin['id_user'] }}">
                    <p>@{{ admin['username'] }}</p>
                  </div>
                {% endfor %}
              </div>
          </div>

          <div class="type-container">
              <p>{% if members|count > 1 %}Membres{% else %}Membre{% endif %}</p>
              <div class="users-container" id="member-box">
                {% for member in members %}
                  <div class="user-container" id="user-container-{{ member['id_user'] }}">
                    <p>@{{ member['username'] }}</p>

                  </div>
                {% endfor %}
              </div>
          </div>
        </div>
      {% endif %}
    </div>
</div>

{% endblock %}