{% extends 'base.html' %}

{% block header %}
  {% block title %}Céer un Y{% endblock %}
{% endblock %}

{% block title_page %}Créer un Y{% endblock %}

{% block content %}
    <div class="center-h">
      <form method="post" enctype="multipart/form-data">
        <div>
          <div id="y-enter-info">
            <label for="imageInput"><i class="fa-regular fa-image image-button" id="addimage"></i></label>
            <input type="file" name="image" id="imageInput" accept="image/png, image/jpeg" style="display: none;" onchange="const i = document.getElementById('addimage'); const img = document.createElement('img'); img.src = window.URL.createObjectURL(this.files[0]); img.className = 'select-image-y' ; img.id = 'modify-image'; i.replaceWith(img); var input = document.getElementById('imageInput'); input.onchange = function() {const img2 = document.getElementById('modify-image'); const img3 = document.createElement('img'); img3.src = window.URL.createObjectURL(this.files[0]); img3.className = 'select-image-y' ; img3.id ='modify-image'; img2.replaceWith(img3);};"> 
            <div id="y-enter-short-info">
              <label for="name">Nom</label>
              <input type="text" name="name" id="name" required placeholder="l'incroyable Y">
              <label for="themes">Thèmes</label>
              <input type="text" name="themes" id="themes" placeholder="#theme #exemple">
            </div>
            <div id="open-button">
              <input type="button" id="opento" value="Privée" onclick="const visibleButton = document.getElementById('opento'); const hiddenButton = document.getElementById('opento-hidden'); if (visibleButton.value === 'Privée') {visibleButton.value = 'Publique'; hiddenButton.value = 'public';} else { visibleButton.value = 'Privée'; hiddenButton.value = 'private'; };">
              <input name="opento" type="hidden" id="opento-hidden" value="private" required>
            </div>
          </div>
          <div id="description">
            <label for="bio">Description:</label>
            <textarea name="bio" id="description-text" placeholder="Ecrivez ici"></textarea>
            <script>
              const myText = document.getElementById("description-text");
              myText.style.cssText = `height: ${myText.scrollHeight}px; overflow-y: hidden`;
              myText.addEventListener("input", function(){
                  this.style.height = "auto";
                  this.style.height = `${this.scrollHeight}px`;
              });
          </script>
          </div>
        </div>
        <div class="center-h">
          <input type="submit" value="Créer" class="create-button">
        </div>
      </form>
    </div> 
{% endblock %}