{% extends 'base.html' %}

{% block header %}
  {% block title %}{{ channel_info['name'] }}{% endblock %}
{% endblock %}

{% block title_page%}
  {{ channel_info['name'] }}
{% endblock %}

{% block content %} 
<li><a href="{{ url_for('post.create_post', id_channel = channel_info['id_channel'], respondto = (-1))}}">new_post</a></li>
  {{ channel_info['name'] }}
  {% if channel_themes %}
    {% for theme in channel_themes %}
      <li> {{ theme[0] }} </li>
    {% endfor %}
  {% else %}
    <li> Ce Y n'a pas de theme</li>
  {% endif %}
  <a href="{{ url_for('y.invite', id_channel = channel_info['id_channel'])}}">invite</a>
  <div id="postcontainer">
  {% for post in channel_post%}
  <div class="post">
    <div class="userinfo">
      <p>@{{ post['username'] }}</p>
    </div>

    <p>{{ post['text'] }}</p>
  </div>
  {% endfor %}
  </div>
{% endblock %}