{% extends 'base.html' %}

{% block header %}
  {% block title %}{{ channel_info['name'] }}{% endblock %}
{% endblock %}

{% block title_page%}
<div class="title-page-see">
  <p>{{ channel_info['name'] }}</p>
  <img src="{{ g.host + '/' + channel_info['location'] }}">
</div>
{% endblock %}

{% block content %} 
<div id="head-home">
  <div class="center-h">
    <div id="head-home-element" >
      <a href="{{ url_for('post.create_post', id_channel = channel_info['id_channel'], respondto = (-1))}}"><i class="fa-solid fa-paper-plane"></i></a>
      <a href="{{ url_for('y.invite', id_channel = channel_info['id_channel'])}}"><i class="fa-solid fa-user-plus"></i></a>
    </div>
  </div>
</div> 

<div class="center-h">
  <div class="incolumn">
    {% if channel_info['description'] %}
    <div class="channel-info">
      <p>Description:</p>
      {% set lignes = channel_info['description'].split('\n') %}
      <p>
        {% for ligne in lignes %}
        {{ligne}}<br>
        {% endfor %}
      </p>
    </div>
    {% endif %}
    {% if channel_themes %}
    <div class="channel-info" >
      <p>Themes:</p>
      <div id="themes">
        {% for theme in channel_themes %}
        <p>#{{ theme[0] }}</p>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% for post in channel_normal_post %}
  <div>
    <div class="center-h">
    <div>
      <div id="test">
        <div class="post">
          <div class="upperpart">
            <p>@{{ post['username'] }}</p>
            <p><img src="{{ url_for('static', filename ='image/buttons/threepoint.svg')}}" alt="" onclick="postMenu({{ post['id_post'] }})"></p>
          </div>

          {% set lignes = post['text'].split("\n") %}
          <p class="text">
            {% for ligne in lignes %}
            {{ ligne }}<br>
            {% endfor %}
          </p>

          <div class="downpart">
            {% if post['id_post'] in liked_post %}
            <i class="fa-solid fa-heart like-button-on" id="like-button-{{ post['id_post'] }}" onclick="like({{ post['id_post'] }})"></i>
            {% else %}
            <i class="fa-regular fa-heart like-button-off" id="like-button-{{ post['id_post'] }}" onclick="like({{ post['id_post'] }})"></i>
            {% endif %}
            <i class="fa-regular fa-comment comment-button-off" id="comment-{{ post['id_post'] }}" onclick="showRespond({{ post['id_post'] }},{{g.user['id_user']}},{{ channel_info['id_channel'] }})"></i>
            <i class="fa-regular fa-share-from-square"></i>
          </div>
        </div>
        <div class="post-menu" id="post-menu-{{ post['id_post'] }}">
            <a class=""  href="{{ url_for('post.create_post', id_channel = channel_info['id_channel'], respondto = ( post['id_post'] ))}}"><i class="fa-solid fa-reply"></i></a>
            {% if g.user['id_user'] == post['id_user_fk'] %}
            <a href="{{ url_for('post.modify_post_from_channel', id_channel = channel_info['id_channel'] ,id_post = ( post['id_post'] ))}}"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="{{ url_for('post.delete_post_from_channel', id_channel = channel_info['id_channel'] ,id_post = ( post['id_post'] ))}}"><i class="fa-solid fa-trash"></i></a>
            {% endif %}
        </div>
      </div>

      

      
      <div class="responds hidden" id="responds-{{ post['id_post'] }}">
      </div>

    </div>

    </div>

  </div>
        <!--
        {% for respond_post in channel_respond_post %}
          {% if respond_post['respond_to']|int == post['id_post'] %}
          <div class="center-h">
          <div class="little-post">
            <div class="upperpart">
              <p>@{{ respond_post['username'] }}</p>
              <p><img src="{{ url_for('static', filename ='image/buttons/threepoint.svg')}}" alt="" onclick="menu('flex','threepoint')"></p>
            </div>

            <p>{{ respond_post['text'] }}</p>
            
            <div class="downpart">
              {% if respond_post['id_post'] in liked_post %}
              <i class="fa-solid fa-heart like-button-on" id="like-button-{{ respond_post['id_post'] }}" onclick="like({{ respond_post['id_post'] }})"></i>
              {% else %}
              <i class="fa-regular fa-heart like-button-off" id="like-button-{{ respond_post['id_post'] }}" onclick="like({{ respond_post['id_post'] }})"></i>
              {% endif %}

              <i class="fa-regular fa-share-from-square"></i>
            </div>
          </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    </div>
    -->
{% endfor %}


{% endblock %}