

.logbox{
    width: max(40vw,325px);
    height: max(80vh,375px);
    flex-shrink: 0;
    border-radius: 60px;
    background: #424242;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5.05% auto;
}

#boxtitle{
    width: 97%;
    height: fit-content;
    margin-left: 3%;
    margin-top: 20px;
    justify-content: left;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(5vw,40px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#interactive{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

form{
    width: 100%;
    height: 100%;
    margin-top: -15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    fill: #262626;
}

.inputcontainer{
    width: 100%;
    height: 25%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.inputcontainer label{
    width: 100%;
    margin-left: 10%;
	font-size:20%;
	color:#fff;	
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}



.inputcontainer input{
    color:rgb(215, 215, 215);
    width:80%;
    height: 75%;
    border-radius: 60px;
    background-color: #262626;
    outline: 0px;
    border: 0px;
    font-size: 16px;
    padding: 0 5%;
}

.inputcontainer input[type="text"]:-webkit-autofill{
    -webkit-text-fill-color: #060606;

}


.inputcontainer input:focus ~ label,
.inputcontainer input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}

#first_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 75%;
    border-radius: 60px;
    background: rgb(215, 215, 215);
    border: 0px;
    color:#060606;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(2vw,15px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
}

#second_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 12.25%;
    margin-top: -5%;
    border-radius: 60px;
    background: rgb(142, 142, 142);
    border: 0px;
    color:#060606;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(1.75vw,11px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
}

body{
    background-color: #060606;
}
