/*variables*/
:root{
    /*couleurs*/
    --white:#ffffff;
    --gray-white:#d3d3d3;
    --background-color: #060606;
    --frame-color: #424242;
    --button:#959595;
    --lightgray: rgb(142, 142, 142);
    --inputbox-color:#262626;
    --cyan: #038d86;
    --vert: #059A6D;
    --rouge: #eb2053 ;
    --gold: #f79e29; 
    /*size*/
    --boxtitle: max(5vw,40px);

    /*title*/
    --title-style: normal;
    --title-weight: 800;
    --title-font-size: max(7vw,36px);
    --title-line-height: normal;
    --title-font-family: Arial, Helvetica, sans-serif;
    /*subtitle*/
    --subtitle-style: normal;
    --subtitle-weight: 800;
    --subtitle-font-size: max(2vw,15px);
    --subtitle-line-height: normal;
    --subtitle-font-family: Arial, Helvetica, sans-serif;
    /*sub-subtitle*/
    --sub-subtitle-style: normal;
    --sub-subtitle-weight: 800;
    --sub-subtitle-font-size: max(1vw,15px);
    --sub-subtitle-line-height: normal;
    --sub-subtitle-font-family: Arial, Helvetica, sans-serif;
    /*box-title*/
    --box-title-style: normal;
    --box-title-weight: 800;
    --box-title-font-size: max(4vw,28px);
    --box-title-line-height: normal;
    --box-title-font-family: Arial, Helvetica, sans-serif;
    /*box-subtitle*/
    --box-subtitle-style: normal;
    --box-subtitle-weight: 800;
    --box-subtitle-font-size: max(1vw,10px);
    --box-subtitle-line-height: normal;
    --box-subtitle-font-family: Arial, Helvetica, sans-serif;
    /*box-text*/
    --box-text-style: normal;
    --box-text-weight: 700;
    --box-text-font-size: max(0.85vw,10px);
    --box-text-line-height: normal;
    --box-text-font-family: Arial, Helvetica, sans-serif;

    /*font*/
    --title:
        var(--title-style)
        var(--title-weight)
        var(--title-font-size)
        var(--title-line-height)
        var(--title-font-family);

    --subtitle:
        var(--subtitle-style)
        var(--subtitle-weight)
        var(--subtitle-font-size)
        var(--subtitle-line-height)
        var(--subtitle-font-family);

    --sub-subtitle:
        var(--sub-subtitle-style)
        var(--sub-subtitle-weight)
        var(--sub-subtitle-font-size)
        var(--sub-subtitle-line-height)
        var(--sub-subtitle-font-family);

    --box-title:
        var(--box-title-style)
        var(--box-title-weight)
        var(--box-title-font-size)
        var(--box-title-line-height)
        var(--box-title-font-family);

    --box-subtitle:
        var(--box-subtitle-style)
        var(--box-subtitle-weight)
        var(--box-subtitle-font-size)
        var(--box-subtitle-line-height)
        var(--box-subtitle-font-family);
    --box-text:
        var(--box-text-style)
        var(--box-text-weight)
        var(--box-text-font-size)
        var(--box-text-line-height)
        var(--box-text-font-family);
}
/*--------------------------------------------------------------------------------------------------*/
/*apparence elements page base*/
body{
    background-color: #060606;
}

#profilbutton{
    width: 1vw;
}

#homebutton{
    position: fixed;
    top: 1vh;
    left: 1.15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--frame-color);
    width: 1vw;
    height: 1vw;
    padding: 1vw;
    border-radius: 100%;
    margin-bottom: 5%;
    z-index: 3;
    text-decoration: none;
}

#rolling-menu-container{
    position: fixed;
    top: 1vh;
    right: 1.15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    width: fit-content;
}

#pp{
    width: 2.75vw;
    height: 2.75vw;
    border-radius: 100%;
    padding: 0.25vw;
    background-color: var(--frame-color);
    z-index: 1;
    cursor: pointer;
}

#buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -2vh;
    height: 4vh;
    gap: 1vh;
    transform: scale(0);
    transform-origin: top;
    transition: transform  0.3s, top 0.3s;
    z-index: 0;
}

#buttons-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1vw;
    height: 1vw;
    padding: 1vw;
    background-color: var(--frame-color);
    border-radius: 100%;
    text-decoration: none;
}

#buttons-container a i{
    font-size: 1.5vw;
    color: var(--button);
    transition: color 0.3s ease;
}

#buttons-container a:hover i{
    color: var(--white);
    transition: color 0.3s ease;
}

#homebutton:hover .home-button{
    color: var(--white);
    transition: 0.3s ease;
}

::-webkit-scrollbar {
    width: 10px;
    margin-right: 1vw;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 100px;
}


::-webkit-scrollbar-thumb {
    background: var(--frame-color);
    border-radius: 100px;
    transition: 0.3s ease;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(0deg, rgba(22,57,39,1) 0%, rgba(32,86,59,1) 100%);
    transition: 0.3s ease;
}

.alert-user{
    height: fit-content;
}

.alert-user p{
    font: var(--box-text);
    color: var(--rouge);
}
/*--------------------------------------------------------------------------------------------------*/
/*apparence boutons*/


.home-button{
    color: var(--button);
    font-size: 1.5vw;
    transition: color 0.3s ease;
}

.like-button-off{
    color: #959595;
}

.like-button-on{
    color: #B41587;
    transition: color 0.3s ease;
}

.comment-button-off{
    color: #959595;
}

.comment-button-on{
    color: #1C59B7;
    transition: color 0.3s ease;
}

.profil-button-off{
    color: var(--button);
    transition: color 0.3s ease;
}

.profil-button-on{
    color: var(--white);
    transition: color 0.3s ease;
}

.friends-button-off{
    color: var(--button);
    transition: color 0.3s ease;
}

.friends-button-on{
    color: var(--white);
    transition: color 0.3s ease;
}

.posts-button-off{
    color: var(--button);
    transition: color 0.3s ease;
}

.posts-button-on{
    color: var(--white);
    transition: color 0.3s ease;
}

.ys-button-off{
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

.ys-button-on{
    filter: brightness(200%);
    transition: filter 0.3s ease;
}

.like-profil-button-off{
    color: var(--button);
    transition: color 0.3s ease;
}

.like-profil-button-on{
    color: var(--white);
    transition: color 0.3s ease;
}

.favorit-button-off{
    color: var(--button);
    transition: color 0.3s ease;
}

.favorit-button-on{
    color: var(--gold);
    transition: color 0.3s ease;
}

.favorit-profil-button-off{
    color: var(--button);
    transition: color 0.3s ease;
}

.favorit-profil-button-on{
    color: var(--white);
    transition: color 0.3s ease;
}

.parameters-button-off{
    color: var(--button);
    transition: color 0.3s ease;
}

.parameters-button-on{
    color: var(--white);
    transition: color 0.3s ease;
}

.image-button{
    color: var(--button);
    transition: color 0.3s ease;
}

.image-button:hover{
    color: var(--white);
    transition: color 0.3s ease;
}

#dot{
    font-size: 1.5vw;
    color: var(--button);
    transition: color 0.3s ease;
}
#dot:hover{
    color: var(--white);
    transition: color 0.3s ease;
}
/*--------------------------------------------------------------------------------------------------*/
/*centrer des éléments*/
.center-wh{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.center-h{
    display: flex;
    flex-direction: row ;
    justify-content: center;
}
/*--------------------------------------------------------------------------------------------------*/
/*apparence elements page d'accueil*/
#welcomepage-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    height: 95vh;
    margin-left: -4vw;
}

#title_logo{
    width: max(min(30vw,85vh),100px);
    flex-shrink: 0;
}

#vl{
    border-left: 5px solid var(--frame-color);
    height: max(min(max(300px, 70vh),50vw),150px);
    margin: 3vw;
}

#home_title{
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
    color: var(--gray-white);
    font: var(--title);
    margin-bottom: min(30px,2vh);
    margin-top: 0px;
}

.log_button{
    width: 100%;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 100px;
    background:var(--gray-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:var(--background-color);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(2vw,8px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
    margin-top: 10%;
    padding: 3%  0;
}

.log_button:hover{
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.25);
    transition: 0.3s;
}
/*--------------------------------------------------------------------------------------------------*/
/*apparence elements pages log*/
.logbox{
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 60px;
    background:var(--frame-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logbox #boxtitle{
    padding: max(2vh,25px);
    margin-top: 0px;
    justify-content: left;
    color: var(--white);
    font: var(--box-title);
}

.logbox #interactive{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.logbox form{
    margin-top: -15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    fill: var(--inputbox-color);
}

.logbox .inputcontainer{
    width: 100%;
    height: fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

.logbox .inputcontainer label{
    width: 90%;
    margin-left: 5%;
    margin-right: 0%;
	font-size:20%;
	color:var(--white);	
    font:var(--box-subtitle);
}

.logbox .inputcontainer input{
    color:var(--white);
    font: var(--box-subtitle);
    width:80%;
    height: max(7.5vh,30px);
    border-radius: 60px;
    background-color: var(--inputbox-color);
    outline: 0px;
    border: 0px;
    padding: 0 5%;
}

.logbox #firstbutton{
    width: fit-content;
    background-color: var(--white);
    border: 0px;
    color:var(--background-color);
    font: var(--box-subtitle);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 2.5%;
}

.logbox #secondbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 4.5vh;
    border-radius: 60px;
    background: var(--lightgray);
    border: 0px;
    color:var(--background-color);
    font: var(--box-subtitle);
    text-decoration: none;
    margin-bottom: 2%;
    padding: 0 1vw ;
}

#forgotpassword{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 4.5vh;
    border-radius: 60px;
    background: #5f5f5f;
    border: 0px;
    color:var(--background-color);
    font: var(--box-subtitle);
    text-decoration: none;
    margin-bottom: 2%;
    padding: 0 1vw ;
}
/*------------------------------------------------------------------------------------------------------*/
/*apparence page home*/

.title_page{
    width:75%;
    margin: -4vh  0 ;

}

.title_page #text{
    text-align: left;
    color: #FFF;
    font: var(--title);
    margin-bottom: -7px;
}

.title_page #line{
    width: 100%;
    color: #424242;
    background-color: #424242;
    border: none;
    height: 3px;
}

.element{
    width: 65%;
    margin: auto;
}

.element h3{
    color: #FFF;
    font: var(--subtitle);
}

#head-home{
    position: fixed;
    top: 1vh;
    width: 100%;
}

#head-home-element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
}

#head-home-element a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1vw;
    height: 1vw;
    padding: 1vw;
    background-color: var(--frame-color);
    border-radius: 100%;
    text-decoration: none;
}

#head-home-element a i{
    font-size: 1.5vw;
    color: var(--button);
    transition: color 0.3s ease;
}

#head-home-element a:hover i{
    color: var(--white);
    transition: color 0.3s ease;
}

.element #empty{
    font: var(--sub-subtitle);
    color: var(--white);
}

.list-y{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
    gap: 3vw;
}

.list-y a{
    width: 30vw;
    text-decoration: none;
}

.channel-bulb{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: var(--frame-color);
    border-radius: 25px;
    padding: 0.5vh 0.5vw;
}

.channel-bulb p{
    color:var(--white);
    font: var(--box-subtitle);
    text-decoration: none;
    margin-left: 1vw;
}

.channel-bulb img{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    padding: 0.5vw;
}
/*------------------------------------------------------------------------------------------------------*/
/*apparence page create y*/

#y-enter-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

#addimage{
    padding: 2vw;
    background-color: var(--frame-color);
    font-size: 5vw;
    border-radius: 100%;
}

.select-image-y{
    border-radius: 100%;
    width: 8vw;
    height: 8vw;
    padding: 0.5vw;
    background-color: var(--frame-color);
    cursor: pointer;
}

#y-enter-short-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#y-enter-short-info label{
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(1vw,15px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#y-enter-short-info input{
    background-color: var(--frame-color);
    border: none;
    border-radius: 25px;
    padding: 1vh 1vw;
    height: 4vh;
    width: 20vw;
    outline: none;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(1vw,15px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#open-button{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    height: 100%;
}

#opento{
    background-color: var(--frame-color);
    border-radius: 25px;
    border: none;
    color: var(--button);
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(1vw,10px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 4vh;
    width: max(7vw, 60px);
    padding: 1vh 1vw;
    cursor: pointer;
    transition: color 0.3s ease;
}

#opento:hover{
    color: var(--white);
    transition: color 0.3s ease;
}

#description{
    display: flex;
    flex-direction: column;
    background-color: var(--frame-color);
    border-radius: 25px;
    margin-top: 4vh;
    padding: 1vh 1vw;
    height: fit-content;
}

#description label{
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(1vw,15px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#description-text{
    background-color: var(--frame-color);
    color: var(--white);
    font: var(--box-text);
    border: none;
    outline: none;
    resize: none;
    min-height: 6vh;
}

.create-button{
    background-color: var(--frame-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: var(--button);
    font: var(--box-subtitle);
    padding: 1vh 1vw;
    margin-top: 3vh;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-button:hover{
    color: var(--white);
    transition: color 0.3s ease;
}

/*------------------------------------------------------------------------------------------------------*/
/*apparence page see*/

.title-page-see{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-page-see p{
    text-align: left;
    color: #FFF;
    font: var(--title);
    line-height: normal;
    margin-bottom: -7px;
    max-width: 50vw;
    white-space: nowrap;
    overflow-x: scroll;
    text-overflow: clip;
    transition: overflow-x 0.3s;
}

.title-page-see p:hover{
    text-overflow: unset;
    
}

.title-page-see p::-webkit-scrollbar{
    width: 10px;
    margin-right: 1vw;
    height: 10px;
}

.title-page-see p::-webkit-scrollbar-thumb{
    background: var(--background-color);
    border-radius: 100px;
}

.title-page-see p:hover::-webkit-scrollbar-thumb{
    background: var(--frame-color);
}

.title-page-see p::-webkit-scrollbar-thumb:hover:active {
    background: linear-gradient(0deg, rgba(22,57,39,1) 0%, rgba(32,86,59,1) 100%);
}

.title-page-see img{
    border-radius: 100%;
    width: 14vw;
    height: 14vw;
    background-color: var(--frame-color);
    padding: 1vw;
}

#invite-pos{
    position: fixed;
    top: 5vh;
    z-index: 1;
}

#invite-pos #invite-overlay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transform: scale(0);
    background-color: var(--frame-color);
    width: max(20vw,120px);
    height: 7vh;
    padding: 1vh 1vw;
    border-radius: 25px;
    box-shadow: 0px 0px 50px 10px var(--background-color);
    font: var(--box-text);
    transition: transform 0.3s ease;
}

#invite-pos #invite-overlay #time-button{
    border: none;
    background-color: var(--inputbox-color);
    color: var(--button);
    font: var(--box-text);
    height: 5vh;
    border-radius: 50px;
    width: max(6vw,50px);
    transition: color 0.3s ease;
}

#invite-pos #invite-overlay #time-button:hover{
    color: var(--white);
    transition: color 0.3s ease;
}

#invite-pos #invite-overlay #create-invite{
    border: none;
    background-color: var(--inputbox-color);
    color: var(--button);
    font: var(--box-text);
    height: 5vh;
    border-radius: 50px;
    width: max(6vw,50px);
    transition: color 0.3s ease;
}

#invite-pos #invite-overlay #create-invite:hover{
    color: var(--white);
    transition: color 0.3s ease;
}

.channel-info{
    width: 55vw;
    height: fit-content;
    padding: 0 2%;
    background-color: var(--frame-color);
    border-radius: 25px;
    margin-bottom: 2vh;
}

.channel-info p#subtitle{
    font: var(--box-subtitle);
}

.channel-info p{
    font: var(--box-text);
}

.channel-info #themes{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: -0.5vh;
    font: var(--box-text);
    color: var(--cyan);
}

.incolumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    width: 45vw;
    background-color: #424242;
    border-radius: 25px;
    height: fit-content;
    padding: 2vh 2%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font: var(--box-text);
}

.upperpart .user-part-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75vw;
    margin-bottom: 1vh;
}

.upperpart .user-part-info img{
    border-radius: 100%;
    width: 3.3vw;
    height: 3.3vw;
    padding: 0.25vw;
    background-color: var(--button);
    margin-bottom: 0;
}

.post span{
    width: 45vw;
    white-space: pre-line;
}

.post .text{
    overflow-wrap: break-word;
    text-wrap: wrap;
    width: 45vw;
    margin-top: 3.5vh;
    margin-bottom: 2vh;
    
}

.post a{
    color: var(--cyan);
    transition: color 0.3s ease;
}

.post a:hover{
    color: var(--white);
    transition: color 0.3s ease;
}

.post img{
    max-width: 40vw;
    max-height: 50vh;
    margin-bottom: 2vh;
}

.responds{
    display: block;
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.little-post{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    width: 30vw;
    background-color: #424242;
    border-radius: 25px;
    height: fit-content;
    padding: 1.5% 1.25%;
    margin-top: 2.5%;
    font: var(--box-text);
}

.little-post img{
    max-width: 25vw;
    max-height: 35vh;
    margin-bottom: 1vh;
}

.little-post p{
    overflow-wrap: break-word;
    text-wrap: wrap;
    margin-top: 3.5vh;
}

.little-post .upperpart .user-part-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75vw;
}

.little-post .upperpart .user-part-info p{
    margin: 0;
}
.little-post .upperpart .user-part-info img{
    margin: 0;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transform-origin: top;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.upperpart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -3vh;
}

.downpart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

#test{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    left: 3.5vw;

}

.post-menu{
    width: 5vw;
    transform: scale(0);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    gap:0.5vh;
    justify-content: center;
    align-items: center;
}

.post-menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(1vw,10px);
    height: max(1vw,10px);
    padding: max(1vw,10px);
    margin: 0.25vw;
    background-color: var(--frame-color);
    border-radius: 100%;
    text-decoration: none;
}

.post-menu a i{
    font-size: max(1.5vw,10px);
    color: var(--button);
    transition: color 0.3s ease;
}

.post-menu a:hover i{
    color: var(--white);
}

.post-menu a:hover .fa-trash{
    color: var(--rouge);
}

.post-menu a:hover .fa-bookmark{
    color: var(--gold);
}

.post-menu a .favorit-button-on{
    color: var(--gold);
}

#little-test{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    left: 3.5vw;
}

.little-post-menu{
    width: 5vw;
    transform: scale(0);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.little-post-menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(1vw,10px);
    height: max(1vw,10px);
    padding: max(1vw,10px);
    margin: 0.25vw;
    background-color: var(--frame-color);
    border-radius: 100%;
    text-decoration: none;
}

.little-post-menu a i{
    font-size: max(1.5vw,10px);
    color: var(--button);
    transition: color 0.3s ease;
}

.little-post-menu a:hover i{
    color: var(--white);
}

.little-post-menu a:hover .fa-trash{
    color: var(--rouge);
}

.little-post-menu a:hover .fa-bookmark{
    color: var(--gold);
}

.little-post-menu a .favorit-button-on{
    color: var(--gold);
}
#about{
    position: fixed;
    bottom: 1vh;
    right: 1vw;
}

#about a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(1vw,10px);
    height: max(1vw,10px);
    padding: max(1vw,10px);
    margin: 0.25vw;
    background-color: var(--frame-color);
    border-radius: 100%;
    text-decoration: none;
}

#about a i{
    font-size: max(1.5vw,10px);
    color: var(--button);
    transition: color 0.3s ease;
}

#about a:hover i{
    color: var(--white);
}
/*------------------------------------------------------------------------------------------------------*/
/*apparence page about*/

#fun-fact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fun-fact p{
    background-color: var(--frame-color);
    width: 20vw;
    padding: 1vh 1vw;
    border-radius: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 17px;
    line-height: 3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fun-fact #numbers{
    display: flex;
    flex-direction: row;
    gap: 1vw;

}

#fun-fact #numbers p{
    background-color: var(--frame-color);
    width: 20vw;
    padding: 1vh 1vw;
    border-radius: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 17px;
    line-height: 3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-info{
    width: 50vw;
    margin-top: 3vh;
}

.about-separator{

}

.types-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
    text-align: center;
    gap: 6vw;
    flex-wrap: wrap;
}

.type-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.type-container p{
    width: 10vw;
    background-color: var(--frame-color);
    padding: 1vh 1vw;
    height: 2vw;
    border-radius: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.type-container .users-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
}

.type-container .users-container p{
    width: 7vw;
    background-color: var(--frame-color);
    padding: 1vh 1vw;
    height: 2vw;
    border-radius: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.users-container .user-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.users-container .user-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(1vw,10px);
    height: max(1vw,10px);
    padding: max(1vw,10px);
    margin: 0.25vw;
    background-color: var(--frame-color);
    border-radius: 100%;
    text-decoration: none;
    cursor: pointer;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.users-container .user-container #hide{
    display: none;
    width: max(1vw,10px);
    height: max(1vw,10px);
    padding: max(1vw,10px);
    margin: 0.25vw;
    background-color: var(--background-color);
}

.users-container .user-container a i{
    font-size: max(1.5vw,10px);
    color: var(--button);
    transition: color 0.3s ease;
}

.users-container .user-container a:hover #admin{
    color: var(--cyan);
    transition: color 0.3s ease;
}

.users-container .user-container a:hover #member{
    color: var(--vert);
    transition: color 0.3s ease;
}

.users-container .user-container a:hover #ban{
    color: var(--rouge);
    transition: color 0.3s ease;
}

#delete-y{
    position: fixed;
    bottom: 1vh;
    left: 1vw;
}

#delete-y a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(1vw,10px);
    height: max(1vw,10px);
    padding: max(1vw,10px);
    margin: 0.25vw;
    background-color: var(--frame-color);
    border-radius: 100%;
    text-decoration: none;
}

#delete-y a i{
    font-size: max(1.5vw,10px);
    color: var(--button);
    transition: color 0.3s ease;
}

#delete-y a:hover i{
    color: var(--rouge);
}
/*------------------------------------------------------------------------------------------------------*/
/*apparence page create post*/

.post-textarea{
    background-color: var(--frame-color);
    border: none;
    color: var(--white);
    outline: none;
    resize: none;
    font: var(--box-text);
    margin-top: 3vh;
}



/*------------------------------------------------------------------------------------------------------*/
/*apparence page profil générale*/

.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    position: fixed;
    top: 0;
    left: 1.15vw;
    height: 100vh;
    z-index: 2;
}

.side-bar a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1vw;
    height: 1vw;
    padding: 1vw;
    background-color: var(--frame-color);
    border-radius: 100%;
    text-decoration: none;
}

.side-bar a i{
    font-size: 1.5vw;
}

.side-bar a:hover i{
    color: var(--white);
}

.side-bar a img{
    width: 1.5vw;
    transition: filter 0.3s ease;
}

.side-bar a:hover img{
    filter: brightness(200%);
    transition: filter 0.3s ease;
}

#line{
    width: 100%;
    color: #424242;
    background-color: #424242;
    border: none;
    height: 3px;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

#profil-head{
    width: 80vw;
    margin-top: 2vh;
}

#profil-head .profil-title h1{
    font: var(--title);
    margin: 0 0;
} 

#profil-short{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 2vw;
    margin-bottom: 0px;
}


#profil-short p{
    font: var(--title);
    color: var(--white);
    margin: 0 0;
}

#profil-short img{
    width: 17vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    padding: 0.65vw;
    background-color: var(--frame-color);
}

#user-general{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5vh;
    column-gap: 2vw;
    width: 60vw;
}

#user-general .cadre{
    background-color: var(--frame-color);
    padding: 1%;
    border-radius: 15px;
    min-width: 8vw;
    width: fit-content;
    display: flex;
    align-items: center;
}

#user-general .cadre p {
    font: var(--box-text);
}

#user-general .cadre b {
    font: var(--box-text);
    color: var(--cyan);
}

#user-general .cadre #user-bio{
    display: flex;
    flex-direction: column;
}

.profil-message{
    width: 75vw;
}

.profil-message p{
    font: var(--sub-subtitle);
    color: var(--white);
}

/*------------------------------------------------------------------------------------------------------*/
/*apparence page profil posts*/
.post-info-profil{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: fit-content;
    text-overflow: clip;
}

.y-little-name{
    color: var(--cyan);
    max-width: 7vw;
    overflow-x: hidden;
    text-overflow: clip;
}

.user-little-name{
    color: var(--vert);
    text-overflow: clip;
}
/*------------------------------------------------------------------------------------------------------*/
/*apparence page profil parametre*/

#parametre-upper-part #user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;

}

#parametre-upper-part #user-info img{
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    padding: 0.5vw;
    background-color: var(--frame-color);
    cursor: pointer;
}

#parametre-upper-part #user-info #name{
    display: flex;
    flex-direction: column;
}

#parametre-upper-part #user-info #name label{
    color: var(--white);
    font: var(--box-subtitle);
}

#parametre-upper-part #user-info #name input{
    background-color: var(--frame-color);
    border: none;
    border-radius: 25px;
    padding: 1vh 1vw;
    height: 4vh;
    width: 20vw;
    outline: none;
    color: var(--white);
    font: var(--box-text);
}

#change-password{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--frame-color);
    width: max(15vw,100px);
    height: 4vh;
    margin-top: 3vh;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    color: var(--button);
    font: var(--box-subtitle);
    transition: color 0.3s ease;
}

#change-password:hover{
    color: var(--white);
    transition: color 0.3s ease;
}

/*------------------------------------------------------------------------------------------------------*/
/*apparence page MDP*/

.mdpbox{
    display: flex;
    flex-direction: column;
    width: max(30vw,350px);
    background-color: var(--frame-color);
    border-radius: 50px;
}

.mdpbox form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -1.5vh;
}

.mdpbox h2{
    margin-left: 7%;
    margin-top: 1%;
    color:#FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(7vmin,30px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.mdpbox #inputs-container .input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1vh 0 ;
}

.mdpbox #inputs-container .input-container input{
    color:var(--white);
    width:80%;
    height: max(7.5vh,30px);
    border-radius: 60px;
    background-color: var(--inputbox-color);
    font: var(--box-subtitle);
    outline: 0px;
    border: 0px;
    padding: 0 5%;
}

.mdpbox #inputs-container .input-container label{
    width: 70%;
    text-align: left;
    color:#fff;	
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(2.75vmin,15px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.mdpbox #inputs-container .input-container p{
    color:#fff;	
    font: var(--box-subtitle);
}

.mdpbox #inputs-container input[type="submit"]{
    background-color: #ffffff;
    border: none;
    border-radius: 100px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 2vh 0px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(2vmin,12px);
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
}

/*------------------------------------------------------------------------------------------------------*/
/*apparence page browse*/

#search-box label{
    font: var(--box-subtitle);
}

#search-box #search-text{
    background-color: var(--inputbox-color);
    width: 20vw;
    height: 5vh;
    padding: 1vh 1vw;
    border: none;
    border-radius: 25px;
    outline: none;
    font: var(--box-text);
    color: var(--white);
}



#rand-themes{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    width: 60vw;
    overflow-x:scroll;
    margin-top: 3vh;
}

#rand-themes::-webkit-scrollbar-thumb {
    background: var(--background-color);
    transition: background 0.3s ease;
}

#rand-themes:hover::-webkit-scrollbar-thumb{
    background: var(--frame-color);
    transition: background 0.3s ease;
}

#rand-themes .theme-minibox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 3vw;
    background-color: var(--frame-color);
    color: var(--button);
    font: var(--box-text);
    border-radius: 50px;
    border: none;
    margin-bottom: 1vh;
    transition: color 0.3s ease;
    cursor: pointer;
}

#rand-themes .theme-minibox:hover{
    color: var(--cyan);
    transition: color 0.3s ease;
}

#result p{
    font: var(--box-subtitle);
}