{% extends 'profil/user/template-profil.html' %}

{% block title_page %}
    MyFavorits - Y
{% endblock %}

{% block button %}
<a href="{{ url_for('user.show_profile') }}"><i class="fa-solid fa-user profil-button-off"></i></a>
<a href="{{ url_for('user.show_posts') }}"><i class="fa-solid fa-layer-group posts-button-off"></i></a>
<a href="{{ url_for('user.show_ys') }}">
  <img class ="ys-button-off" src="{{ g.host +'/static/image/Y_logoV3_uni.svg' }}">
</a>
<a href="{{ url_for('user.show_likes') }}"><i class="fa-solid fa-heart like-profil-button-off"></i></a>
<a href="{{ url_for('user.show_favorits') }}"><i class="fa-solid fa-bookmark favorit-profil-button-on"></i></a>
<a href="{{ url_for('user.show_parametre')}}"><i class="fa-solid fa-gear parameters-button-off"></i></a>
{% endblock %}

{% block title %}
    <h1>MyFavorits</h1>
{% endblock %}

{% block content %}
  {% if favorits %}
    {% for favorit in favorits %}
    <div class="center-h">
        <div>
          <div class="post">
            <div class="upperpart">
              <div class="user-part-info">
                <img src="{{ g.host +'/'+ favorit['Creatoricon'] }}" alt="">
                <p>@{{ favorit['CreatorName'] }}</p>
              </div>
                <div class="post-info-profil">
                    <p>depuis <p class="y-little-name">&{{favorit['ChannelName'] }}</p></p>
                    {% if favorit['RespondTo'] %}
                    <p>à <p class="user-little-name">@{{favorit['RespondTo']}}</p></p>
                    {% endif %}
                </div>
            </div>
    
            {% set lignes = favorit['text'].split("\n") %}
            <p class="text">
              {% for ligne in lignes %}
              {{ ligne }}<br>
              {% endfor %}
            </p>
            {% if favorit['location'] %}
            <div class="center-h">
              <img src="{{ g.host +'/'+ favorit['location']}}" alt="">
            </div>
            {% endif %}
            <div class="downpart">
              {% if favorit['id_post']|int in liked_posts %}
              <i class="fa-solid fa-heart like-button-on" id="like-button-{{ favorit['id_post'] }}" onclick="like({{ favorit['id_post'] }})"></i>
              {% else %}
              <i class="fa-regular fa-heart like-button-off" id="like-button-{{ favorit['id_post'] }}" onclick="like({{ favorit['id_post'] }})"></i>
              {% endif %}
              <i class="fa-solid fa-bookmark favorit-button-on" id="favorit-button-{{ favorit['id_post'] }}" onclick="favorit({{ favorit['id_post'] }})"></i>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="center-h">
      <div class="profil-message">
        <p>Vous n'avez pas encore mis en favori des publications</p>
      </div>
    </div>
  {% endif %}
{% endblock %}