{% extends 'profil/user/template-profil.html' %}

{% block title_page %}
    MyLikes - Y
{% endblock %}

{% block button %}
<a href="{{ url_for('user.show_profile') }}"><i class="fa-solid fa-user profil-button-off"></i></a>
<a href="{{ url_for('user.show_posts') }}"><i class="fa-solid fa-layer-group posts-button-off"></i></a>
<a href="{{ url_for('user.show_ys') }}">
  <img id ="Y-uni-logo" src="{{ g.host +'/static/image/Y_logoV3_uni.svg' }}">
</a>
<a href="{{ url_for('user.show_likes') }}"><i class="fa-solid fa-heart like-profil-button-on"></i></a>
<a href="{{ url_for('user.show_favorits') }}"><i class="fa-solid fa-bookmark favorit-profil-button-off"></i></a>
<a href="{{ url_for('user.show_parametre')}}"><i class="fa-solid fa-gear parameters-button-off"></i></a>
{% endblock %}

{% block title %}
    <h1>MyLikes</h1>
{% endblock %}

{% block content %}
  {% if likes %}
    {% for like in likes %}
    <div class="center-h">
        <div>
          <div class="post">
            <div class="upperpart">
                <p>@{{ like['CreatorName'] }}</p>
                <div class="post-info-profil">
                    <p>depuis <p class="y-little-name">/{{like['ChannelName'] }}</p></p>
                    {% if like['RespondTo'] %}
                    <p>à <p class="user-little-name">@{{like['RespondTo']}}</p></p>
                    {% endif %}
                </div>
            </div>
    
            {% set lignes = like['text'].split("\n") %}
            <p class="text">
              {% for ligne in lignes %}
              {{ ligne }}<br>
              {% endfor %}
            </p>
            {% if like['location'] %}
            <div class="center-h">
              <img src="{{ g.host +'/'+ like['location']}}" alt="">
            </div>
            {% endif %}
            <div class="downpart">
              <i class="fa-solid fa-heart like-button-on" id="like-button-{{ like['id_post'] }}" onclick="like({{ like['id_post'] }})"></i>
              {% if like['id_post']|int in favorited_posts %}
              <i class="fa-solid fa-bookmark favorit-button-on" id="favorit-button-{{ like['id_post'] }}" onclick="favorit({{ like['id_post'] }})"></i>
              {% else %}
              <i class="fa-solid fa-bookmark favorit-button-off" id="favorit-button-{{ like['id_post'] }}" onclick="favorit({{ like['id_post'] }})"></i>
              {% endif %}
              <i class="fa-regular fa-share-from-square"></i>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
  {% else %}
    <p>Vous n'avez pas encore aimer de publications</p>
  {% endif %}
{% endblock %}