{% extends 'profil/user/template-profil.html' %}

{% block title_page %}
    MyPosts - Y
{% endblock %}

{% block button %}
<a href="{{ url_for('user.show_profile') }}"><i class="fa-solid fa-user profil-button-off"></i></a>
<a href="{{ url_for('user.show_posts') }}"><i class="fa-solid fa-layer-group posts-button-on"></i></a>
<a href="{{ url_for('user.show_ys') }}">
  <img id ="Y-uni-logo" src="{{ g.host +'/static/image/Y_logoV3_uni.svg' }}">
</a>
<a href="{{ url_for('user.show_likes') }}"><i class="fa-solid fa-heart like-profil-button-off"></i></a>
<a href="{{ url_for('user.show_favorits') }}"><i class="fa-solid fa-bookmark favorit-profil-button-off"></i></a>
<a href="{{ url_for('user.show_parametre')}}"><i class="fa-solid fa-gear parameters-button-off"></i></a>
{% endblock %}

{% block title %}
    MyPosts
{% endblock %}


{% block content %}
  {% if posts %}
    {% for post in posts %}
    <div class="center-h" id = "post-{{ post['id_post'] }}">
        <div>
          <div id="test">
            <div class="post" >
              <div class="upperpart">
                <div class="user-part-info">
                  <img src="{{ g.host +'/'+ g.user['location'] }}" alt="">
                  <p>@{{ g.user['username'] }}</p>
                </div>
                  <div class="post-info-profil">
                      <p>depuis <p class="y-little-name">/{{post['ChannelName'] }}</p></p>
                      {% if post['RespondTo'] %}
                      <p>à <p class="user-little-name">@{{post['RespondTo']}}</p></p>
                      {% endif %}
                      <p><img src="{{ url_for('static', filename ='image/buttons/threepoint.svg')}}" alt="" onclick="postMenu({{ post['id_post'] }})"></p>
                  </div>
              </div>
      
              {% set lignes = post['text'].split("\n") %}
              <p class="text">
                {% for ligne in lignes %}
                {{ ligne }}<br>
                {% endfor %}
              </p>
              {% if post['location'] %}
              <div class="center-h">
                <img src="{{ g.host +'/'+ post['location']}}" alt="">
              </div>
              {% endif %}
              <div class="downpart">
                {% if post['id_post']|int in liked_posts %}
                <i class="fa-solid fa-heart like-button-on" id="like-button-{{ post['id_post'] }}" onclick="like({{ post['id_post'] }})"></i>
                {% else %}
                <i class="fa-regular fa-heart like-button-off" id="like-button-{{ post['id_post'] }}" onclick="like({{ post['id_post'] }})"></i>
                {% endif %}
                {% if post['id_post']|int in favorited_posts %}
                <i class="fa-solid fa-bookmark favorit-button-on" id="favorit-button-{{ post['id_post'] }}" onclick="favorit({{ post['id_post'] }})"></i>
                {% else %}
                <i class="fa-solid fa-bookmark favorit-button-off" id="favorit-button-{{ post['id_post'] }}" onclick="favorit({{ post['id_post'] }})"></i>
                {% endif %}
              </div>

              <div class="responds hidden" id="responds-{{ post['id_post'] }}"></div>
            </div>
            <div class="post-menu" id="post-menu-{{ post['id_post'] }}">
              <a href="{{ url_for('post.modify_post', id_post = post['id_post'] )}}"><i class="fa-solid fa-pen-to-square"></i></a>
              <a onclick="deletePost({{ post['id_post'] }})"><i class="fa-solid fa-trash"></i></a>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
  {% else %}
  <div class="center-h">
    <div class="profil-message">
      <p>Vous n'avez pas encore fait de publications</p>
    </div>
  </div>
  {% endif %}
{% endblock %}