<!doctype html>

<head>
  <title>Profil- Y</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='shortcuticon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css')}}">
  <script src="{{ url_for('static', filename='js/script.js')}}"></script>
  <script src="https://kit.fontawesome.com/5197e334d7.js" crossorigin="anonymous"></script>
</head>

<body>
  <a href="{{ url_for('home.home')}}" id="homebutton"><i class="fa-solid fa-house home-button"></i></a>
  
  <div class="side-bar">
    <a href="{{ url_for('user.show_profile') }}"><i class="fa-solid fa-user profil-button-on"></i></a>
    <a href="{{ url_for('user.show_posts') }}"><i class="fa-solid fa-layer-group posts-button-off"></i></a>
    <a href="{{ url_for('user.show_ys') }}">
      <img id ="Y-uni-logo" src="{{ g.host +'/static/image/Y_logoV3_uni.svg' }}">
    </a>
    <a href="{{ url_for('user.show_likes') }}"><i class="fa-solid fa-heart like-profil-button-off"></i></a>
    <a href="{{ url_for('user.show_favorits') }}"><i class="fa-solid fa-bookmark favorit-profil-button-off"></i></a>
    <a href="{{ url_for('user.show_parametre')}}"><i class="fa-solid fa-gear parameters-button-off"></i></a>
    </div>

  <div class="center-h">
    <div id="profil-head">
      <div id="profil-short">
        <p>@{{ g.user.username }}</p>
        <img src="{{ g.host + '/' + g.user['location'] }}">
      </div>
      <hr id="line">
    </div>
  </div>

  <div class="center-h">
    <div id="user-general">
      <div class="cadre" id="user-info">
        <p>Date d'inscription: <b>{{ g.user['date'] }}</b></p>
      </div>
      <div class="cadre" id="ys">
        <p>Vous avez créé <b> {{ y_info['nb_created_y'] }} </b> et participez à <b> {{ y_info['nb_member_y'] }}</b> Ys
        </p>
      </div>
      <div class="cadre" id="posts">
        <p>Vous avez fait <b>{{ post_info['nb_posted_post'] }}</b> publications</p>
      </div>
      <div class="cadre" id="like">
        <p>Vous avez aimé <b>{{ like_info['nb_liked_post'] }}</b> publications, vos publications ont <b>{{ like_info['nb_like_post']}}</b> likes</p>
      </div>
      <div class="cadre" id="favoris">
        <p>Vous avez mis en favori <b>{{ favorit_info['nb_favorited_post'] }}</b> publications, <b>{{ favorit_info['nb_favorit_post']}}</b> des vôtres ont été mis en favoris </p>
      </div>
    </div>
  </div>

</body>