<!doctype html>

<head>
  <title>{% block title_page %}{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='shortcuticon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css')}}">
  <script src="{{ url_for('static', filename='js/script.js')}}"></script>
  <script src="https://kit.fontawesome.com/5197e334d7.js" crossorigin="anonymous"></script>
</head>

<body>
  <a href="{{ url_for('home.home')}}" id="homebutton"><i class="fa-solid fa-house home-button"></i></a>
  
  <div class="side-bar">
    {% block button %}{% endblock %}
  </div>
  <div class="center-h">
    <div id="profil-head">
        <div class="profil-title">
            <h1>{% block title %}{% endblock %}</h1>
        </div>
        <hr id="line">
    </div>
  </div>

  <div>
    {% block content %}
    {% endblock %}
  </div>
</body>