{% extends 'profil/user/template-profil.html' %}

{% block title_page %}
    MyYs - Y
{% endblock %}

{% block button %}
<a href="{{ url_for('user.show_profile') }}"><i class="fa-solid fa-user profil-button-off"></i></a>
<a href="{{ url_for('user.show_posts') }}"><i class="fa-solid fa-layer-group posts-button-off"></i></a>
<a href="{{ url_for('user.show_ys') }}">
  <img id ="Y-uni-logo" src="{{ g.host +'/static/image/Y_logoV3_uni.svg' }}">
</a>
<a href="{{ url_for('user.show_likes') }}"><i class="fa-solid fa-heart like-profil-button-off"></i></a>
<a href="{{ url_for('user.show_favorits') }}"><i class="fa-solid fa-bookmark favorit-profil-button-off"></i></a>
<a href="{{ url_for('user.show_parametre')}}"><i class="fa-solid fa-gear parameters-button-off"></i></a>
{% endblock %}

{% block title %}
    <h1>MyYs</h1>
{% endblock %}

{% block content %}
<div class="element">
  <h3>Mes Ys</h3>
  {% if myys %}
    <div class="center-h">
      <div class="list-y">
    {% for myy in myys %}
    <a href="{{ url_for('y.see', id_channel = myy['id_channel'])}}">
        <div class="channel-bulb">
          <img src="{{ g.host +'/'+ myy['location'] }}" class="channel_icon">
          <p>{{ myy['name'] }}</p>
        </div>
      </a>
    {% endfor %}
      </div>
    </div>
  {% else %}
  <p id="empty">vous n'avez pas de channel</p>
  {% endif %}

  <h3>members Ys</h3>
  {% if memberys %}
    <div class="center-h">
      <div class="list-y">
    {% for membery in memberys %}
    <a href="{{ url_for('y.see', id_channel = membery['id_channel'])}}">
        <div class="channel-bulb">
          <img src="{{ g.host +'/'+ membery['location'] }}" class="channel_icon">
          <p>{{ membery['name'] }}</p>
        </div>
      </a>
    {% endfor %}
      </div>
    </div>
  {% else %}
    <p id="empty">vous n'êtes pas membre d'un Y</p>
  {% endif %}
</div>
{% endblock %}