<!doctype html>

<head>
    <title>{% block title %}{% endblock %} - Template de base Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% if g.user %}
    <nav>
        <h1>Template de base Flask</h1>
        <ul>
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            <li><a href="{{url_for('user.show_profile')}}">Show profile</a></li>
        </ul>
    </nav>
    {% else %}
    <nav>
        <h1 id="home_title">Bienvenue</h1>
        <ul>
            <li><a href="{{ url_for('auth.register') }}" class="log_button">Register</a>
            <li><a href="{{ url_for('auth.login') }}" class="log_button">Log In</a>
        </ul>
    </nav>
    {% endif %}
        

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>