<!doctype html>

<head>
    <title>{% block title %}{% endblock %} - Y</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='shortcuticon.png') }}">
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css')}}">
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    <script src="https://kit.fontawesome.com/5197e334d7.js" crossorigin="anonymous"></script>
</head>

<body>
        <div>
            <div class="center-h">
                <div class="title_page">
                    <h1 id="text">{% block title_page %}{% endblock%}</h1>
                    <hr id="line">
                </div>
            </div>

                <a href="{{ url_for('home.home')}}" id="homebutton"><i class="fa-solid fa-house home-button"></i></a>


            <div id="rolling-menu-container">
                <img src="{{ g.host + '/' + g.user['location'] }}" id="pp" onclick="menu()">
                <div id="buttons-container">
                    <a href="{{ url_for('user.show_profile') }}"><i class="fa-solid fa-user"></i></a>
                    <a href="{{ url_for('auth.logout')}}"><i class="fa-solid fa-right-from-bracket"></i></a>
                </div>
            </div>
        <div>{% block content %}{% endblock %}</div>
</body>