<!doctype html>

<head>
    <title>{% block header %}{% endblock %} - Y</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='shortcuticon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css %}{% endblock %}
</head>

<body>
    <div class="vertical">
        <div class="logbox">
            {% block title %}{% endblock %}
            
            {% block content %}{% endblock %}
            
            {% block footer %}{% endblock %}
        </div>
    </div>
</body>